/* Include Foundation! */

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    @include grid-row();
    background-color: lightseagreen;

    main {
        @include grid-column(12);
    }
        header {
            //@include grid-row();
            text-align: center;
        }

        ul {
            background-color: white;
            list-style: none;
            
            li {
                width: 20%;
                background-color: cornflowerblue;
                border: 1px solid darkslateblue;
                border-radius: 6px;
            }
        };

    footer {
        text-align: center;
        input {
            width: 100%;
        }
        };
}

button {
    border: 2px solid darkslategrey;
            border-radius: 8px;
            background-color: lightslategrey;
            height: 35px;
            width: 85px;
            margin-top: 3%;
}